body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.calendar {
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    background: white;
}

.month {
    text-align: center;
    background-color: white;
    color: rgb(236, 204, 17);
    padding: 10px 0;
}

.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.weekdays div {
    background-color: #8706f0;
    padding: 10px 0;
    border-bottom: 1px solid #bbb;
}

.days div {
    padding: 15px 0;
    border-bottom: 1px solid #eee;
}

.days div.empty {
    background-color: #f9f9f9;
}

.days div:hover {
    background-color: #f1f1f1;
}
