.font-family-belleza {
    font-family: 'Belleza';
}
.btn-dark {
    border-radius: 30px;
    padding: 10.19px 19.71px;
}
.lora {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}